/* Common */
html {
  --color-black: #0e111b;
  --color-white: #fff;
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-5: rgba(255, 255, 255, 0.05);
  --color-primary: #fdc000;
  --color-hover: #f86a05;
  --color-area: #1c212e;
}
body {
  background-color: var(--color-black);
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  color: var(--color-white);
}

/* Container */
.container {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 1120px;
}
@media (max-width: 1200px) {
  .container {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 40px 20px;
  }
}

/* Button */
.btn {
  height: 50px;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-area);
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}
.btn:hover {
  background-color: var(--color-hover);
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-black);
}
.btn-primary:hover {
  background-color: var(--color-hover);
  color: var(--color-white);
}
.btn-circle {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Default Loading Animation */
.the-loader {
  border: 4px solid var(--color-primary);
  /* border-top 색상을 투명하게 적용 */
  border-top-color: transparent;
  width: 30px;
  height: 30px;
  /* linear 속성은 애니메이션이 선형적으로 진행되도록 함 (자연스럽게) */
  animation: loader 1s infinite linear;
  border-radius: 50%;
}
.the-loader.hide {
  display: none;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Skeleton Loading Animation */
.skeleton {
  overflow: hidden;
  position: relative;
  background-color: var(--color-area);
  border-radius: 10px;
}
.skeleton::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  animation: skeleton-loader 2s infinite;
  content: "";
  transform: translateX(-100%);
}
@keyframes skeleton-loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* components/TheHeader */
header {
  display: flex;
  gap: 40px;
  align-items: flex-end;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: rgba(14, 17, 27, 0.9);
}
header .logo {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: var(--color-white-50);
  text-decoration: none;
}
header .logo span {
  color: var(--color-primary);
}
header nav ul {
  display: flex;
  gap: 14px;
}
header nav ul li a {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white-50);
  text-decoration: none;
}
header nav ul li a.active {
  color: var(--color-primary);
}
header .user {
  margin: auto;
  position: absolute;
  top: 0;
  right: 40px;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-color: var(--color-area);
  transition: 0.3s;
  cursor: pointer;
  border-radius: 50%;
}
header .user:hover {
  transform: scale(1.2);
}
header .user img {
  width: 100%;
}
@media (max-width: 600px) {
  header {
    padding: 14px 20px;
  }
  header nav {
    display: none;
  }
  header .user {
    right: 20px;
  }
}

/* components/TheFooter */
footer {
  padding: 40px 40px 60px;
  text-align: center;
}
footer a {
  color: var(--color-white-20);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* components/Headline */
.headline {
  margin-bottom: 40px;
}
.headline h1 {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  line-height: 1;
}
.headline h1 span {
  color: var(--color-primary);
}
.headline p {
  color: var(--color-white-30);
}
@media (max-width: 600px) {
  .headline h1 {
    font-size: 60px;
  }
}

/* components/Search */
.search {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.search input {
  flex-grow: 1;
  padding: 0 20px;
  border: none;
  outline: none;
  height: 50px;
  background-color: var(--color-area);
  font-size: 14px;
  color: var(--color-white);
  border-radius: 4px;
}
.search input::placeholder {
  color: var(--color-white-30);
}
.search .btn {
  flex-grow: 1;
  max-width: 150px;
}

/* components/MovieList */
.movie-list {
  padding: 20px;
  background-color: var(--color-area);
  border-radius: 4px;
}
.movie-list .message {
  font-size: 20px;
  color: var(--color-primary);
  text-align: center;
}
.movie-list .movies {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.movie-list .the-loader {
  margin: 30px auto;
}

/* components/MovieItem */
.movies .movie {
  --width: 200px;
  overflow: hidden;
  position: relative;
  width: var(--width);
  /* 2 : 3 비율 */
  height: calc(var(--width) * 3 / 2);
  background-color: var(--color-black);
  background-size: cover;
  border-radius: 4px;
}
.movies .movie:hover::after {
  border: 6px solid var(--color-primary);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}
.movies .movie .info {
  padding: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(14, 17, 27, 0.3);
  font-size: 14px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}
.movies .movie .info .year {
  color: var(--color-primary);
}
.movies .movie .info .title {
  color: var(--color-white);
}

/* components/MovieListMore */
.view-more {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 300px;
}
.view-more.hide {
  display: none;
}

/* routes/Movie */
.the-movie {
  display: flex;
  gap: 70px;
  color: var(--color-white-50);
}
.the-movie .poster {
  flex-shrink: 0;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);
  background-color: var(--color-area);
  background-size: cover;
  border-radius: 10px;
  --width: 500px;
}
.the-movie .specs {
  flex-grow: 1;
}
.the-movie .title {
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  line-height: 1;
  color: var(--color-white);
}
.the-movie .title.skeleton {
  height: 70px;
}
.the-movie .labels {
  margin-bottom: 20px;
  color: var(--color-primary);
}
.the-movie .labels.skeleton {
  height: 30px;
}
.the-movie .plot.skeleton {
  width: 80%;
  height: 400px;
}
.the-movie h3 {
  margin: 24px 0 6px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: var(--color-white);
}
@media (max-width: 1200px) {
  .the-movie {
    gap: 30px;
  }
  .the-movie .poster {
    --width: 300px;
  }
}
@media (max-width: 720px) {
  .the-movie {
    display: block;
  }
  .the-movie .title {
    margin-top: 50px;
    font-size: 50px;
  }
}

/* routes/About */
.about .photo {
  margin: 0 auto 20px;
  width: 230px;
  height: 230px;
  background-size: cover;
  border-radius: 10px;
}
.about .name {
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}
.about p {
  margin-bottom: 4px;
  line-height: 1.5;
  text-align: center;
}
.about a {
  color: var(--color-primary);
  text-decoration: none;
}
.about a:hover {
  text-decoration: underline;
}

/* routes/NotFound */
.not-found h1 {
  font-size: 70px;
  font-weight: 700;
  color: var(--color-white-10);
  text-align: center;
}

/* components/Chatbot */
.chatbot {
  --position-bottom: 20px;
  --position-right: 40px;
}
@media (max-width: 600px) {
  .chatbot {
    --position-right: 20px;
  }
}
/* 팝업이 되는 챗봇 창 */
.chatbot .chats {
  border: 1px solid var(--color-black);
  /* x축, y축, blur, color */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: var(--position-right);
  /* 아래에서 20px 떨어진 곳에 위치 + chatbot을 처음시작할때의 동그라미 높이 + 버튼과의 간격 */
  bottom: calc(var(--position-bottom) + 50px + 14px);
  z-index: 1;
  /* 최대로 늘어나는 구조에서 - position-right에 곱하기 2를 해주면 최대 너비 사용을 기준으로 한쪽 여백에 두배 만큼 공간을 가질 수 있음  */
  width: calc(100% - var(--position-right) * 2);
  max-width: 450px;
  visibility: hidden;
  background-color: var(--color-area);
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  /* 왼쪽 상단부터 시계방향으로 */
  border-radius: 20px 20px 4px 20px;
  opacity: 0;
}
.chatbot.chatbot--on .chats {
  visibility: visible;
  opacity: 1;
}
.chatbot .chats ul {
  display: flex;
  gap: 14px;
  flex-direction: column;
  padding: 60px 20px 20px;
  overflow: auto;
  max-height: calc(100vh - 340px);
  overscroll-behavior: contain;
}
.chatbot .chats li {
  padding: 12px 18px;
  position: relative;
  max-width: 70%;
  font-size: 15px;
  font-weight: 500;
  border-radius: 20px;
}
.chatbot .chats li.assistant {
  align-self: flex-start;
  border-top-left-radius: 4px;
  background-color: var(--color-white-5);
  transform: translateX(10px);
}
.chatbot .chats li.assistant .photo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc(100% + 4px);
  left: -10px;
  width: 40px;
  height: 40px;
  background-color: var(--color-white-5);
  color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.chatbot .chats li.assistant .the-loader {
  width: 13px;
  height: 13px;
  border-width: 3px;
}
.chatbot .chats li.assistant .movie-title {
  color: var(--color-primary);
  cursor: pointer;
}
.chatbot .chats li.assistant .movie-title:hover {
  text-decoration: underline;
}
.chatbot .chats li.user {
  /* align-self는 부모요소에 적용되는 속성으로 자식요소의 정렬을 결정함 */
  align-self: flex-end;
  border-bottom-right-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-black);
}
.chatbot .input {
  display: flex;
  gap: 10px;
  padding: 14px 20px 20px;
  border-top: 1px solid var(--color-white-5);
}
.chatbot .input input {
  flex-grow: 1;
  padding: 0 20px;
  border: none;
  outline: none;
  background-color: var(--color-white-5);
  font-size: 14px;
  color: var(--color-white);
  border-radius: 4px 4px 4px 10px;
}

.chatbot .chat-starter {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: var(--position-right);
  bottom: var(--position-bottom);
  z-index: 1;
}
.chatbot .chat-starter .icon--open {
  display: block;
}
.chatbot .chat-starter .icon--close {
  display: none;
}
.chatbot.chatbot--on .chat-starter .icon--open {
  display: none;
}
.chatbot.chatbot--on .chat-starter .icon--close {
  display: block;
}
